{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<title>Groove Story</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="{% static '/grooveapp/smtyle.css' %}" />
		<link href="https://fonts.googleapis.com/css?family=Exo+2:100" rel="stylesheet">
<style>
body{font-family: 'Exo 2', sans-serif;}
</style>
	</head>

	<body>

	    <a href="/" style='width:100%'>
            <button type="button" class="btn btn-default btn-sm" style="font-size:4em;">
            GrooveStories
            </button>
        </a>
        <div id="cont" style=" " class="container-fluid loginform">
           <div class="login-text">
                <span style='font-size:140px;font-family: 'Exo 2', sans-serif;'>   &nbspLogin</span>
           </div>


           <div class="loginform-position">
                  <form method="post" class="groove-stories-login-form">
                   {% csrf_token %}
                   <input type="text" placeholder="Write your name here" name="username" autofocus maxlength="254" required id="id_username" />
                   <input type="password" placeholder="and password that can not be hacked"  name="password" required id="id_password" />
                   <input type="submit" value="Submit" class="subBtn">
                  </form>
                <!--<div class="other-social-net">-->
                <!--    <span>OR</span>-->
                <!--</div>-->
                <div id="wi" class="social-login"style='background-color:white; '>
                    <a id="singup" href="{% url 'grooveapp:signup' %}"><i class="fa fa-sign-in" aria-hidden="true" style="font-weight:bold; font-size:30px;margin-top:14px"></i>SignUp<br></a>
                    <hr>
                    <a href="/oauth/login/github/"><i class="fa fa-github-square" style="font-size:36px"></i>GitHub</a><br>
                    <hr>
                    <a href="/oauth/login/facebook/"><i class="fa fa-facebook-official" style="font-size:36px"></i></i>acebook</a>
                    <hr>
                </div>
          </div>
    </div>
    </body>
    <script>
        var width = screen.width
        document.getElementById("wi").style.width=width
    </script>
</html>