body {
    background-color:#7aacff;
    padding:0;
    margin:0;
}


.groove-stories-login-form {
    margin-top:45px;
}

.groove-stories-login-form input[placeholder] {
    border:0;
    background-color:#92bbfc;
    /* border-top:2px solid #92bbfc;
    border-right:2px solid #484848;
    border-bottom:2px solid #484848;*/
    border:2px solid #5e7cab;
    padding:8px;
    outline:none;
    width:100%;
    color:#484848;
}

.groove-stories-login-form label {
    background-color:#484848;
    border:2px solid #484848;
    padding:6px;
}

.groove-stories-login-form > input{
    margin-bottom:15px;
}

.groove-stories-login-form input[type="submit"] {
    border:0;
    background-color:none;
    padding:5px;
}

input[type="submit"] {
    width:100%;
    background-color:#5f8fde;
    color:black;

}

.subBtn:hover {
    cursor: pointer;
    background:rgba(0,0,0,0.2);
}

.loginform-position {
    margin: 0 auto;
    width:500px;
    height:250px;
}
.login-text {
   width:450px;
   font-style:normal;
   text-align:center;
   font-weight:bold;
   font-size:1.6em;
}

.other-social-net  {
   text-align:center;
}

.loginform {
   width:455px;
   height:465px;
   font-family:Arial;
   font-size:1.4em;
   font-style:italic;
   margin-top:45px;
   color:#000;

}

.social-login a {
    text-decoration:none;
    text-align:center;
    color:#232323;
}

.social-login a:hover {
    color:#4c4b4b;
}

.social-login  {
    font-size:1.3em;
    font-weight:bold;
    text-align:center;
    padding: 15px 0;
    box-shadow: 0px 2px 25px #000000;
}
