{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<title>Groove Story</title>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="{% static '/grooveapp/style.css' %}" />
		<link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
	</head>
	<body>
	<div class="head">
			<h1>{{text}}</h1>
			<hr>
	</div>
    	<h2>Homepage</h2>
        <p>Hello {{ user.firstname }}!</p>
    <hr>
        <span><a href="{% url 'logout' %}"> Logout</a>
</span>
    <hr>
    </body>
</html>