{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<title>Groove Story</title>
		<meta charset="utf-8">
				<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="{% static "grooveapp/js/script.js" %}"></script>
	</head>
	<body>
	<div class="head">
			<h1>{{text}}</h1>
			<hr>
	</div>
    	<h2>Homepage</h2>
    <hr>
    {% if user.is_authenticated %}
        <p>
        <p>Welcome,
        <button type="button" class="btn btn-default btn-sm">
          <span class="glyphicon glyphicon-user"></span> {{ user.username }}
        </button>
        <button type="button" class="btn btn-default btn-sm">
            <a href="{% url 'grooveapp:logout' %}">Logout</a><br>
        </button>
        </p>
        </p>
    {% else %}
        <p>Welcome, Guest <a href="{% url 'grooveapp:login' %}">Login</a></p>
    {% endif %}
        <button type="button" class="btn btn-default btn-sm">
            <a href="{% url 'grooveapp:lobby' %}">Lobby</a><br>
        </button>


</span>
    </body>
</html>