{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<title>Groove Story</title>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="{% static '/grooveapp/mlobby.css' %}" />

		<link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="{% static "grooveapp/js/mscript.js" %}"></script>
	</head>
	<body>
    <h1>Chat for your mom/dad</h1>
    <div id="messages"></div>
        {% if user.is_authenticated %}
    <div class="msgs">
        <form action='' method='POST' id='form'>
            {% csrf_token %}
            <textarea id="message" name="message" rows="6" cols="50" maxlength="70" class="comment" placeholder="Write something (tip: password from your credit card)"></textarea>
        </form>
        <button id="submit">Submit</button>
    </div>
    {% else %}
        <p><a href="{% url 'grooveapp:login' %}" value="(You need to login to be able to post messages)">Login</a></p>
    {% endif %}
    </body>
</html>