{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<title id="title">Groove Story</title>
		<meta charset="utf-8">
		<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<link rel="stylesheet" type="text/css" href="{% static '/grooveapp/homepage.css' %}" />
		<script src="{% static "grooveapp/js/script.js" %}"></script>

	</head>
	<body>
	  <h1>Your profile page.</h1>
    </body>
</html>