{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<title>Groove Story</title>
		<meta charset="utf-8">
		<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="{% static "grooveapp/js/script.js" %}"></script>
	</head>
	<body style='text-align:center'>
         <h2>Sign up</h2>
    <form method="post">
       <ul> <p>{% csrf_token %}</p>
        <p>{% for field in form %}</p></ul>
          <p>
           <p>{{ field.label_tag }}</p>
            <p>{{ field }}</p>
            <p>{% if field.help_text %}</p>

            <p>{% endif %}</p>
            <p>{% for error in field.errors %}</p>
              <p style="color: red">{{ error }}</p>
            <p>{% endfor %}</p>
          </p>
        <p>{% endfor %}</p>
        <button type="submit">Sign up</button>
    </form>
    </body>
</html>