{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<title id="title">Groove Story</title>
		<meta charset="utf-8">
		<link href="https://fonts.googleapis.com/css?family=Nunito|Timmana|Marvel|Candal" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="{% static '/grooveapp/sghtory.css' %}" />
	</head>
<body class="body">
<div class="wrapper">
    <div class="wrap">
        <div class="container">
        {% for stori in story %}
        <h1>{{stori.categories}}</h1>
           <!-- Main Character -->
           <div class="wrd story-job">Main Character<br><span class="story-job">{{stori.job}}</span></div>
           <!-- Place -->
           <div class="wrd story-place">Place<br><span class="story-place">{{stori.place}}</span></div>
           <!-- What happened -->
           <div class="wrd story-wtf">What happened<br><span class="story-wtf">{{stori.whatHappended}}</span></div><!-- happened -->
           <div class="addMore wrd">Add More</div>
        </div>
        {% endfor %}

        <div class="addNewTable">
          <form action="" method='POST'>
            {% csrf_token %}
            <label for="Character">Main Character</label>
            <input type="text" id="Character" name="Character" placeholder="Rostyk">

            <label for="Place">Place</label>
            <input type="text" id="Place" name="Place" placeholder="Lviv Arena">

            <label for="Whathappened">What happened</label>
            <input type="text" id="Whathappened" name="Whathappened" placeholder="squirrel died">

            <input type="submit" value="Create">
          </form>
        </div>
    </div>
</div>
</body>
</html>